@import "../../variables.scss";


.images {
  width: 100%;
}

.grid {
  border: $border-size $border-style $text-color;
  background: $secondary-color;
  cursor: pointer;
}

.display-value-diamond {
  background: $text-color;
}

