@import './components/style.scss';
@import "./variables.scss";


body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: $text-color;
  font-family: sans-serif;
  overflow: hidden;
  @media screen and (min-width: $min-width) {
    overflow: auto;
  }
}
