$primary-color: #010402;
$text-color: #4bc3b5;
$secondary-color: #1c2c54;
$border-size: 1px;
$border-style: solid;
$text-align: center;
$display-type: flex;
$min-width: 768px;
$secondary-fontFamily: "Fredoka One", cursive;
$border-radius: 10rem;